SUPABASE_URL="xxx"
SUPABASE_SERVICE_KEY="xxx"
# The model used when loading and processing your PDFs/Websites
OLLAMA_INGEST_MODEL="phi3:latest"

# The embedding model doing the mathematical vector calculations
OLLAMA_EMBED_MODEL="nomic-embed-text:latest"

# The lightweight model used for the live chat response engine
OLLAMA_MODEL="qwen3.5:4b"
# MONGODB_URI="mongodb://localhost:27017/pinkpath_dummy"